<div class="container">
  <div class="row">
    <div class="col-2" style="background-color: red;">
        <img style="position: absolute;" src="../../../assets/img/banniere-home.jpg"><img>
    </div>
    <div class="col-10" style="padding: 50px ;background-color: blue" >
      <h2 style="background-color: brown; width: fit-content">User name</h2>
      <h3 style="background-color: brown; width: fit-content;">role</h3>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-6 col-lg-8">.col-sm-6 .col-lg-8</div>
    <div class="col-6 col-lg-4">.col-6 .col-lg-4</div>
  </div>
