<div class="container">
  <h3 class="title">Mes créations</h3>
  <h5 class="subtitle">Liste des livres :</h5>

  <p>(Selectionner le livre à modifier)</p>
    <div class="list">
      <ul class="list-group">
        <li class="list-group-item">An item <a [routerLink]="['/routePath']"> modifier<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a></li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
</div>