h3 {
  text-align: center;
  margin-top: 50px;
}
.modifier {
  position: absolute;
  right: 50%;
  align-items: baseline;
}

.supprimer {
  position: absolute;
  right: 10%;
  align-items: baseline;
}