<h2>Choix du personnage</h2>


<div class="card-body" style="width: 18rem;">
    <!-- Entrer un nom -->
    <div class="form-outline">
        <label class="form-label" for="form1">Nom du personnage</label>
        <input type="text" id="form1" class="form-control" />
      </div>
      
      <!-- Répartire 15 points dans les stats  -->
      <label class="form-label" for="customRange2">Force</label>
      <div class="range">
        <input type="range" class="form-range" min="3" step="1" max="7" id="customRange1" />
      </div>

      <label class="form-label" for="customRange2">Agilité</label>
      <div class="range">
        <input type="range" class="form-range" min="3" step="1" max="7" id="customRange2" />
      </div>

      <label class="form-label" for="customRange2">Inteligence</label>
      <div class="range">
        <input type="range" class="form-range" min="3" step="1" max="7" id="customRange3"/>

      </div>

      <!-- valider personnage -->
      <button type="button" style="width: 16rem;" class="btn btn-primary">Enregistrer le personnage</button>
</div>

<input type="range" list="tickmarks">

<datalist id="tickmarks">
  <option value="0" label="0%">
  <option value="10">
  <option value="20">
  <option value="30">
  <option value="40">
  <option value="50" label="50%">
  <option value="60">
  <option value="70">
  <option value="80">
  <option value="90">
  <option value="100" label="100%">
</datalist>
