<div class="card" style="width: 18rem">
    <div class="card-header">The Ennemie</div>
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of
        the card's content.
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">PV</li>
        <li class="list-group-item">Force</li>
        <li class="list-group-item">Agilité</li>
        <li class="list-group-item">Inteligence</li>
      </ul>
    </div>
  </div>
  