<div class="container">
  <div class="row">
    <div class="col-3 border">
      <h3>Stat du héro</h3>
      <app-hero-stat></app-hero-stat>
    </div>
    <div class="col-6 border">
      <h3>text/combat</h3>
    </div>
    <div class="col-3 border">
      Stat de l'ennemi
      <app-foe-stat></app-foe-stat>
    </div>
  </div>
  <div class="row">
    <div class="col-sm border">
      <h3>Inventaire du hero</h3>
      <app-hero-inv></app-hero-inv>
    </div>
    <div class="col-sm border">
      <h3>Choix/Console</h3>
    </div>
    <div class="col-sm border">
      <h3>Retour ou livre</h3>
    </div>
  </div>
</div>
