<div class="container-sm">
  <div class="row">
    <div class="col-3 ">
      <app-hero-stat></app-hero-stat>
    </div>
    <div class="col-6 border">

      <!-- a gerer avec des ng if  -->

      <!-- Chapitre text  -->
      <app-chapter></app-chapter>

      <!-- Chapitre Console de combat -->
      <!-- <app-fight-console></app-fight-console> -->

    </div>
    <div class="col-3 ">
      <!-- Stat de l'ennemi -->
      <app-foe-stat></app-foe-stat>
    </div>
  </div>
  <div class="row">
    <div class="col-sm ">
      <!-- Inventaire du hero -->
      <app-hero-inv></app-hero-inv>
    </div>
    <div class="col-sm ">

      <!-- a gerer avec des ng if  -->

      <!-- choix Chapitre text -->
      <app-chapter-choice></app-chapter-choice>

      <!-- choix Chapitre combat -->
      <!-- <app-after-fight-choice></app-after-fight-choice> -->
    </div>
    <div class="col gap-2 mx-auto mt-5 text-center">
      <!-- Idk -->
      <button type="button" class="btn btn-secondary">Sorti</button>
    </div>
  </div>
</div>
