<div class="card" style="width: 18rem;">
    <img src="../../../assets/img/banniere-home.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success">Editer</button>
        <button type="button" class="btn btn-success">Supprimer</button>
        <button type="button" class="btn btn-success" (click)="onPublish()">Publier</button>
      </div>
    </div>
  </div>